.teachers_container{
    width: 100%;
    /* height: 35rem; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 1rem;
}
.teachers_heading h2{
    color: var(--c1);
}
.teachers_card_container{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* border: 0.1rem solid black; */

}
.teacher_card{
    width: 20rem;
    height: 25rem;
    /* border: 0.1rem solid black; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: .1rem .1rem 1rem var(--c7);
}
.teacher_card >i {
    align-self: center;
    color: var(--c1);
    font-size: 4rem;
}
.teacher_card ul {
    list-style: none;
}
.teacher_card ul li{
    color: var(--c7);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    
}
.teacher_card ul li i{
    color: var(--c1);
    margin-right: .5rem;
}
.teacher_card p {
    color: var(--c1);
    font-size: 1.2rem;
    font-weight: bold;
}
.teacher_card h4 {
    color: var(--c5);
    font-size: 1.5rem;
    font-weight: bold;
}
@media (max-width:687px) {
    .teacher_card{
        width: 95%;
    }
}